* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-image: url(/resources/bubbles.svg);
    background-repeat: no-repeat;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    margin-top: 100px;
    width: 60%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul {
    justify-content: space-between;
}

ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: gray;
}

h1 {
    font-size: 70px;
}

#line-separator {
    width: 1px;
    height: 70vh;
    background-color: black;
}

.left-box {
    width: 85%;
    height: 100%;
    background: linear-gradient(219.6deg, rgba(174, 148, 97, 0.144) 32.73%, rgba(233, 233, 233, 0) 100%);
}

p {
    font-size: 20px;
    padding: 10vh 8vh;
}

.right-box {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 40vw;
}

.navigation {
    width: 50%;
}

.navigation ul {
    display: flex;
    padding: 0% 0% 10vh 8vh;
    justify-content: flex-start;
    width: 100%;
}

#start {
    border-bottom: 1px solid purple;
}

@media only screen and (max-width: 1150px) {
    main {
        flex-direction: column;
    }

    .left-box {
        width: 100%;
        height: 500px;
    }

    .right-box {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        height: 500px;
        width: 90vw;
    }

    #line-separator {
        height: 1px;
        width: 70vw;
    }

    body {
        background-position: 0px 200px;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }

    .navigation {
        width: 100%;
    }

    .navigation ul {
        justify-content: center;
        padding: 5% 10%;
        height: 20px;
    }

    .navigation ul li {
        height: 20px;
        margin-left: 10px !important;
    }

    p {
        text-align: center;
        padding: 5%;
    }
}

@media only screen and (max-width: 650px) {
    main {
        width: 100%;
    }

    nav {
        width: auto;
    }
}

@media only screen and (max-height: 900px) {
    main {
        height: 1000px;
        width: 100%;
    }
}